<!doctype html>
{% extends 'Nursery/index.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {%block title %} Login {% endblock %}
</head>
<body>
{%block content_block%}
    <div class="container" align='center'>
        <h1 class="text-danger">Login Form</h1>
        <form method="post">
            {{form.as_p}}
            {%csrf_token%}
            <button class="btn btn-success btn-lg" type="submit">Login</button>
        </form>
    </div>
{%endblock%}
</body>
</html>