<!DOCTYPE html>
{% extends 'Nursery/index.html' %}
{% load static %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    {%block title %} All Plant {% endblock %}

</head>
<body>
{% block content_block %}

    <div class="row">
    <div class="col-md-6 offset-md-3">
          {% for i in images %}
          <div class="card" style="width:18rem; float:left">
           <img src="{{i.imagefile.url}}" width="70" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">{{i.plant_name|upper }} &nbsp;&nbsp;&nbsp;<span style="color:green">PRICE :{{i.price}}</span></h5>

                <a href="#" class="btn btn-primary">ADD TO CART</a>
              </div>
                {% endfor %}
          </div>
    </div>
    </div>


        {% endblock %}
</body>
</html>